<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <!--보통의 form을 전송할 때는 첫번째 옵션을 사용 파일은 아래의 옵션을 선택
    해당 옵션과 input type="file"옵션은 항상 같이 붙어있다.-->
    <form method="post" enctype="multipart/form-data">
        <div>
            <label>제목:<input type="text" name="title"></label>
        </div><br>
        <div><label>사진 업로드
                <input type="file" name="photo" accept="image/*" required>
            </label></div><br>
        <button type="submit">업로드</button>
    </form>
</body>
</html>